<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="io.github.pcamantea.whackamole" version="0.1.1">

    <name>Whack-a-mole</name>

    <description>
        Whack-a-mole jquery game
    </description>
    <content src="index.html" />
    <author href="http://pcamantea.github.io/">
        Pedro Amantea
    </author>
	<preference name="orientation" value="portrait" />
	<preference name="DisallowOverscroll" value="true" />
    <access origin="*" />
	<icon src="icon.png" />
</widget>