body {
	background-color:#F0F0F0;
	overflow: hidden;
	-ms-content-zooming: none;
}

.board {
    width: 400px;
    padding: 6px;
	margin: auto;
}

.hole {
    width: 68px;
    height: 68px;
	border-radius:25px;
    display: inline-block;
    margin: 12px;
	background-image: url("images/hole.png");
	background-size: 68px 68px;
    background-repeat: no-repeat;
}

.hole.mole {
    background-image: url("images/holeMole.png");
	background-size: 68px 68px;
    background-repeat: no-repeat;
}

.hole.deadMole {
    background-image: url("images/deadMole.png");
	background-size: 68px 68px;
    background-repeat: no-repeat;
}

.footer {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:30px;
	font-weight:bold;
}

#points {
}